@charset "utf-8";

$link-color: #333;
$font-family-sans-serif: 'Libre Baskerville', Georgia, sans-serif;
$headings-font-family: 'Montserrat', 'Helvetica', sans-serif;
$headings-font-weight: 700;
$font-size-base: 22px;

$logo-gray: #d4d4d4;

@import "bootstrap-custom";

@mixin screen-xs {
  @media (max-width: $screen-xs-max) {
    @content;
  }
}

@mixin screen-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: $screen-lg-min) {
    @content;
  }
}

html, body  {
  height: 100%;
}

.hero-logo {
  width: 100%;
  height: 100%;

  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  @include screen-xs {
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
}

.hero-logo_default-cursor {
  cursor: default;
}


// absolute position triangle background
.hero-logo__background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.hero-logo__text {
  position: relative;
  z-index: 1;
}

.hero-logo__subtext {
  font-size: 36px;
  margin-top: 0;

  @include screen-xs {
    font-size: 22px;
  }
}

.logo {
  font-weight: 700;
  font-family: $headings-font-family;
  line-height: 1;

  margin-top: 0;
  margin-bottom: 0;
}

.logo__k, .logo__w {
  display: inline-block;
  color: #fff;
  font-size: 300px;

  @include screen-xs {
    font-size: 200px;
  }
}

.logo__k {
  position: relative;  // make k overlap w
}

.logo__w {
  margin-left: -0.177em;
}

.logo__initials_scroll {
  & .logo__k,
  & .logo__w {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 6px #333;
    color: #333;
  }

  // causes slight jank in non webkit browers
  .logo__w {
    margin-left: -0.164em;
  }
}

.logo__initials_gray {
  .logo__k, .logo__w {
    color: $logo-gray;
  }
}

.triangle-hr-wrapper {
  overflow: hidden;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed #333;
}

a:hover {
  text-decoration: none;
  border-bottom: none;
}

.link-unstyled {
  text-decoration: none;
  border-bottom: none;
}

.project {
  font-size: 16px;
  margin-bottom: 1.5em;

  @include screen-xs {
    font-size: 22px;
  }

  blockquote {
    font-size: 14px;

    @include screen-xs {
      font-size: 22px;
    }
  }
}

.social-link {
  font-size: 1.75em;
  margin: 0 0.75em;

  @include screen-xs {
    font-size: 1.25em;
    margin: 0 0.5em;
  }
}

.resume {
  font-size: 18px;

  blockquote {
    font-size: 14px;
  }

  .resume-header {
    @include screen-md { position: fixed; }
    @include screen-lg { position: fixed; }
  }

  .resume-nav {
    @include screen-xs { display: none; }
    @include screen-sm { display: none; }

  }

  .resume-nav li {
    margin-top: 0.4em;
  }

  .logo .logo__k,
  .logo .logo__w {
    margin-top: 24px;
    font-size: 100px;
    color: $logo-gray;
  }


  h4 {
    margin-top: 2em;
  }

  // align to top of kw logo
  h4:first-of-type {
    @include screen-xs { margin-top: 0; }
    @include screen-sm { margin-top: 0; }
    @include screen-md { margin-top: 36px; }
    @include screen-lg { margin-top: 36px; }
  }

  ul {
    margin-top: -0.5em;
    margin-bottom: 1em;
  }
}
