.landing-wrapper.js-landing-click-scroll
  .landing.js-landing-background.text-center
    .landing-text
      .landing-logo.h6.js-logo-scroll
        .logo-k K
        .logo-w W


.js-content-start.container-fluid
  .row
    .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
      br
      markdown:

        Hello, I'm Kevin Wu.

        I'm a software engineer who also likes learn about design and product.
        Currently at [Academia.edu](https://academia.edu) working on product driven
        development of tools that make scientists happy. Previously co-founded
        [Plasmyd.com](http://plasmyd.com) and in a past life, studied maize protemoics with
        [Steve Briggs](http://briggs.ucsd.edu) and
        [Justin Walley](http://www.plantpath.iastate.edu/people/justin-walley)
        at UCSD. Sometimes I regret not getting a PhD. I'd like to get back into
        teaching; feel free to reach out if you have an opporunity.


.container-fluid
  .row
    .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
      br
      .js-triangle-hr.triangle-hr-wrapper
      br

.container-fluid
  .row
    .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
      br
      h6.text-uppercase Projects I Work On In My Spare Time
      br

      .row
        .project.col-sm-6
          p
            a href="http://graphtv.kevinformatics.com" GraphTV
          markdown:
            Visualize IMDb ratings of any TV series. Featured in
            [Wired](http://www.wired.com/2014/03/graph-quality-every-tv-show-ever-amazing-site/),
            [Gizmodo](http://gizmodo.com/check-the-tv-ratings-of-any-show-on-imdb-using-this-coo-1550258159),
            [AV Club](http://www.avclub.com/article/website-turns-any-tv-show-chart-revolutionizes-arg-202409),
            [Flowing Data](http://flowingdata.com/2014/03/24/graph-tv-shows-ratings-by-episode/),
            [Fast Company](http://www.fastcodesign.com/3028097/infographic-of-the-day/test-it-did-your-favorite-tv-show-get-better-or-worse),
            [Time](http://time.com/28906/this-website-graphs-the-popularity-of-tv-shows/),
            and [others](http://graphtv.kevinformatics.com/about).
            A v2 of this site is "coming soon".

            Trying to find a way to monetize these page views so that
            it pays for it's own hosting costs. Contact me if you sell
            non-spammy ads or work at Amazon on the affiliate program.

        .project.col-sm-6
          p
            a href="http://kevinwuhoo.github.io/tessellate/" Tessellate
            | &nbsp;&nbsp;
            a href="https://github.com/kevinwuhoo/tessellate" (Code)

          markdown:
            > Triangles are my favourite shape <br>
            > Three points where two lines meet <br>
            > ∆ (Alt-J) - Tessellate

            Generate tessellated equilateral triangles with pleasant colors onto a canvas.
            Used to generate the landing graphic above as well as the dividers.

      .row
        .project.col-sm-6
          p
            a href="http://wwpgd.com/" What Would PG Do?

          markdown:
            Currently defunct. Search all of Paul Graham's essays and comments
            on Hacker News for startup related advice. Got called out on
            [TechCrunch](http://techcrunch.com/2012/10/15/what-would-paul-graham-do/) and
            [Inc](http://www.inc.com/kathleen-kim/got-questions-about-start-ups-just-ask-paul-graham.html)
            for making something so stupid.

        .project.col-sm-6
          p
            a href="http://kevinwuhoo.github.io/thedayssidebar/" The Day's Sidebar
            | &nbsp;&nbsp;
            a href="https://github.com/kevinwuhoo/thedayssidebar" (Code)

          markdown:
            A Chrome new tab page that embeds the most recent [Sidebar.io](http://sidebar.io)
            links by Sacha Greif into color inspiration from Nigel Evan Dennis's project,
            ["The Day's Color"](http://www.thedayscolor.com/).

      .row
        .project.col-sm-6
          p
            a href="http://kevinwuhoo.github.io/ui-styleguides/" UI Styleguides
            | &nbsp;&nbsp;
            a href="https://github.com/kevinwuhoo/ui-styleguides" (Code)

          markdown:
            A curated list of UI styleguides. At Academia.edu, we were trying
            to come up with a reference of design patterns and UI components
            to standardize on. This is a list of companies who have made
            beautiful, public references that I often draw inspiration from.

        .project.col-sm-6
          p
            a href="https://github.com/kevinwuhoo/hypepy" hypepy

          markdown:
            Hypepy (pronounced hyphy) is an python wrapper around Hype Machine.
            Has support to fetch playlists and related metadata,
            but I mostly use it to download music from Hype Machine.
            Adds metadata and album art so it shows a nice image on my phone.

      .row
        .col-xs-12.text-center
          br
          a href="https://github.com/kevinwuhoo" Check out my Github for additional projects.

  .row
    .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
      br
      br
      .js-triangle-hr.triangle-hr-wrapper
      br

  .row
    .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
      br
      h6.text-uppercase Still here? More about me.
      br

      markdown:
        [Came for a resume or CV? Here you go.](resume)

        I enjoy photography, but my portfolio site needs a redesign and is down
        for now. In the past I took lining up colors on the Rubik's cube seriously
        and my fastest single solve in competition was [15.60s](http://www.worldcubeassociation.org/results/p.php?i=2005WUKE01).

        I'm currently in the process of moving my blog to [Medium](https://medium.com/@kw).
        Turns out they don't allow you to add custom dates to your articles, so
        now a bunch of my posts will look like they were on the same day.

        If you'd like to contact me, I respond fastest on
        [Twitter](https://twitter.com/kevinwuhoo), but if it's
        long form, feel free to [email](mailto: me@kevinformatics.com) me.
        Here's a list of brand icons of other websites you can find me on.

  ruby:
    social_links = [
      ['twitter', 'https://twitter.com/kevinwuhoo'],
      ['github', 'https://github.com/kevinwuhoo'],
      ['medium', 'https://medium.com/@kw'],
      ['hacker-news', 'https://news.ycombinator.com/user?id=kevinwuhoo'],
      ['linkedin', 'https://www.linkedin.com/in/helloimkevinwu'],
      ['envelope', 'mailto:me@kevinformatics.com']
    ]
  .row
    .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center.social-links
      br
      - social_links.each_with_index do |(name, url), i|
        a.link-unstyled href=url
          i.social-link.fa class="fa-#{name}"

  .row
    .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
      br
      .js-triangle-hr.triangle-hr-wrapper
      br

  .row
    .col-md-4.col-md-offset-2.col-sm-10.col-sm-offset-1
      | Thanks for visiting!
      br
      i.fa.fa-heart
      | &nbsp;Kevin
      br
      br
